<h1>Atividade 04 - CCF493</h1>     

<h3>Nome: Vítor Luís G. Silva</h3> 
<h3>Matrícula: 3045</h3>

In [1]:
import re
import nltk
import warnings
import itertools
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
warnings.filterwarnings('ignore')

In [3]:
# Lendo dados
df = pd.read_csv('data/spam.csv')
df = df.dropna()

# Obtendo array de mensagens
messages = df.loc[:,'Message'].values
df = df[['Category', 'Message']]
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
# Função de normalização
def normalize_doc(doc):
    doc = re.sub(r'[^a-zA-Z0-9\s]', '', doc, re.I)
    doc = doc.lower()
    doc = doc.strip()
    tokens = wpt.tokenize(doc)
    filtered_tokens = [token for token in tokens if token not in stop_words]
    doc = ' '.join(filtered_tokens)
    return str(doc)

In [5]:
# Atualizar pacote
nltk.download('stopwords')

# Obtendo as stop words
wpt = nltk.WordPunctTokenizer()
stop_words = nltk.corpus.stopwords.words('english')

# Normalizando e pré-processando texto
normalize_corpus = np.vectorize(normalize_doc)
norm_corpus = normalize_corpus(messages)
norm_corpus

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

array(['go jurong point crazy . available bugis n great world la e buffet ... cine got amore wat ...',
       'ok lar . joking wif u oni ...',
       "free entry 2 wkly comp win fa cup final tkts 21st may 2005 text fa 87121 receive entry questionstd txt rate ) & c ' apply 08452810075over18 '",
       ..., 'pity mood . ... suggestions ?',
       'guy bitching acted like id interested buying something else next week gave us free',
       'rofl true name'], dtype='<U625')

In [6]:
# Criando um modelo Bag of Words
cv = CountVectorizer(min_df=0., max_df=1.)
cv_matrix = cv.fit_transform(norm_corpus)
cv_matrix = cv_matrix.toarray()
vocab = cv.get_feature_names()
pd.DataFrame(cv_matrix, columns=vocab)

,00,000,000pes,008704050406,0089my,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# Geração da matriz TF-IDF
tv = TfidfVectorizer(min_df=0., max_df=1., use_idf=True)
tv_matrix = tv.fit_transform(norm_corpus)
tv_matrix = tv_matrix.toarray()
vocab = tv.get_feature_names()
pd.DataFrame(np.round(tv_matrix, 2), columns=vocab)

# Geração da matriz de similaridade
similarity_matrix = cosine_similarity(tv_matrix)
similarity_df = pd.DataFrame(similarity_matrix)
similarity_df

,0,1,2,3,4,5,6,7,8,9,...,5562,5563,5564,5565,5566,5567,5568,5569,5570,5571
0,1.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.036827,0.000000,0.0,0.0,0.000000,0.0
1,0.0,1.0,0.000000,0.0,0.0,0.041471,0.000000,0.000000,0.000000,0.000000,...,0.047096,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
2,0.0,0.0,1.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.035253,...,0.000000,0.000000,0.000000,0.0,0.040664,0.038816,0.0,0.0,0.020267,0.0
3,0.0,0.0,0.000000,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.137347,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
4,0.0,0.0,0.000000,0.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.066678,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.038816,0.0,0.0,0.000000,0.000000,0.034623,0.112381,0.014758,...,0.000000,0.000000,0.000000,0.0,0.015976,1.000000,0.0,0.0,0.000000,0.0
5568,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.0,0.0,0.000000,0.0
5569,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,1.0,0.000000,0.0
5570,0.0,0.0,0.020267,0.0,0.0,0.027730,0.073899,0.000000,0.000000,0.052485,...,0.000000,0.067043,0.000000,0.0,0.028408,0.000000,0.0,0.0,1.000000,0.0
5571,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,0.109478,0.000000,0.0,0.0,0.000000,1.0

In [8]:
# Utilização do K-Means
km = KMeans(n_clusters=2)
km.fit_transform(similarity_df)
cluster_labels = km.labels_
cluster_labels = pd.DataFrame(cluster_labels, columns=['Classification'])
res_data = pd.concat([data, cluster_labels], axis=1)
res_data.head()

  Category                                            Message  Classification
0      ham  Go until jurong point, crazy.. Available only ...               1
1      ham                      Ok lar... Joking wif u oni...               0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...               1
3      ham  U dun say so early hor... U c already then say...               1
4      ham  Nah I don't think he goes to usf, he lives aro...               1